.img-title-overlay {
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    text-shadow: 0 2px 1em #000000;
    padding-top: 8px !important;
}

.blend-multiply {
    mix-blend-mode: multiply;
}

html {
    scroll-behavior: smooth;
}

body{
    @apply text-gray-700 text-lg;
}

.outlined-title {
    -webkit-text-stroke: 4px #66D3B9;
    -webkit-text-fill-color: #FCFAF4;
}

.outlined-subtitle {
    -webkit-text-stroke: 2px #66D3B9;
    -webkit-text-fill-color: #1A3066;
}

.excerpt p {
    @apply break-words;
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
    @apply leading-relaxed text-base;
}

@screen sm {
    .markdown {
        @apply text-base;
    }
}

@screen lg {
    .markdown {
        @apply text-lg;
    }
}

/* Headers */
.markdown h1,
.markdown h2 {
    @apply text-xl my-6 font-bold;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    @apply text-lg my-3 font-bold ;
}

.markdown h2{
    font-size:1.625rem;
    @apply mt-16 mb-6 font-bold text-shift leading-6;
}

.markdown h3{
    @apply text-lg mt-8 mb-8 font-bold text-primary leading-6;
}

.markdown h4{
    @apply text-base font-bold text-shift mb-1;
}

/* Links */
.markdown a {
    @apply underline;
    text-decoration-color: #66D3B9;
}

.markdown a:hover {
   
    text-decoration-color: #1A3066;
} 


.custom-underline{
    position: relative;
    display: inline-block;
    color:inherit!important;
    white-space: nowrap;
}
/* .custom-underline span{
    position: relative;
    z-index: 1;
} */
.custom-underline:before{
    position: absolute;
    content:"";
    bottom:0;
    width:100%;
    left:0;
    height: 1px;
    @apply bg-secondary;
    transition: all 0.3s ease;
    z-index: 0;
}

.custom-underline:hover:before{
    height:6px;   
}



/* Paragraph */
.markdown p {
    @apply mb-4 font-serif text-gray-700;
}

/* Lists */
.markdown ul,
.markdown ol {
    @apply mb-4 ml-8 font-serif text-gray-700;
}

.markdown li > p,
.markdown li > ul,
.markdown li > ol {
    @apply mb-0;
}

.markdown ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    @apply ml-0;
}

.markdown ol li {
    counter-increment: my-awesome-counter;
    @apply relative pl-10;
}

.markdown ol li::before {
    content: counter(my-awesome-counter);
    width: 24px;
    height: 24px;
    @apply  font-sans absolute rounded-sm flex items-center justify-center text-center text-white font-bold bg-secondary left-0 top-0;
}

.markdown ul {
    @apply ml-0 mb-10 mt-5;
}
.markdown li {
    @apply leading-6 mb-3;
}

.markdown ul li::before {
    @apply text-secondary;
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */

}


/* Blockquotes */
.markdown blockquote {
    @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.markdown blockquote > p {
    @apply mb-0;
}

/* Tables */
.markdown td,
.markdown th {
    @apply px-2 py-1 border border-gray-400;
}

.markdown tr:nth-child(odd) {
    @apply bg-gray-100;
}

.markdown table {
    @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
	the setting for codeblocks (inside ```), which are rendered in as:
	<pre><code>...
*/
.markdown :not(pre) > code.language-text {
    white-space: pre-line;
}

/*
"react-leaflet-markercluster/dist/styles.min.css" not being imported in production mode
 */

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6)
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6)
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6)
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6)
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6)
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6)
}

.leaflet-oldie .marker-cluster-small {
    background-color: #b5e28c
}

.leaflet-oldie .marker-cluster-small div {
    background-color: #6ecc39
}

.leaflet-oldie .marker-cluster-medium {
    background-color: #f1d357
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: #f0c20c
}

.leaflet-oldie .marker-cluster-large {
    background-color: #fd9c73
}

.leaflet-oldie .marker-cluster-large div {
    background-color: #f18017
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif
}

.marker-cluster span {
    line-height: 30px
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in
}

.leaflet-cluster-spider-leg {
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in
}


.fade {
    position: relative;
}

.fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.3rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.grid-auto-rows-organizations {
    grid-auto-rows: minmax(0, 14rem);
}

.capitalize-first-letter{
    /* display: inline-block; */
}
  /* don't works on inline display must add inline-block */
.capitalize-first-letter::first-letter{
  
    text-transform: uppercase!important;
}

h1, h2, h3, h4, h5{
    font-family:  'Source Sans Pro', sans-serif;
}


/* navbar*/
@media (max-width:1279px){

    .navbar{
        /* visibility: hidden; */
        transition: transform 0.3s ease;
        transform:translateX(100%)
    }
    /* .navbar:before{
        content:'';
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color: white;
        opacity: 0.8;
        z-index:-1;
    } */
    .navbar.open{
        transform:translateX(0%)
    }

}
/* purgecss end ignore */
